.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #5f9147;
}

nav {
  background-color: #6c9c55;
}
