.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

#home_bg {
  background-image: url("../img/home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: #6c9c55;
}
