.navbar-nav {
    float:none;
    margin:0 auto;
    text-align: center;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}


nav {
  background-color: #6c9c55;
}
